fastapi==0.135.2
uvicorn[standard]==0.42.0
pydantic==2.12.5
pydantic-settings==2.13.1
pytest
flake8
flake8-toml-config
black

yfinance==1.2.0
google-genai==1.69.0
openai==2.30.0
requests==2.33.0
beautifulsoup4==4.14.3
pandas==3.0.2
tabulate==0.10.0
cloudscraper==1.2.71
playwright==1.58.0
